<script type="text/javascript">
  function getDate()
  {
    var date = new Date();
    var hours = date.getHours();
    var minutes = date.getMinutes();
    var seconds = date.getSeconds();
    if(seconds < 10)
    {
      seconds = '0' + seconds;
    }
    document.getElementById('timedisplay').innerHTML = hours + ':' + minutes + ':' + seconds;
    if(seconds % 2 == 0)
    {
      document.getElementById('gif').innerHTML = '-';
    } else {
      document.getElementById('gif').innerHTML = '|';
    }
  }
    setInterval(getDate, 0);
</script>
<a class="text-decoration-none" href="/about/author/">Об авторе</a>
<a> | </a>
<a class="text-decoration-none" href="/about/tech/">Технологии</a>
<p>© {{ year }} Copyright <span style="color:red">Ya</span>tube</p>
<span style="color:#007bff">
  {{ time }}
  <a id="gif"></a>
  <a id="timedisplay"></a>
</span>